
em {
    color: #2384d1;
}
.uk-alert {
  margin-bottom: 25px;
  padding: 10px;
  background: #2384d1;
  color: #ffffff;
  padding: 35px;
  border-radius: 10px;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
}
i  {
	color: #2384d1;
	margin-right: 15px;
}
h2, .uk-h2 {
    font-size: 36px;
    line-height: 40px;
	font-weight: 500;
}
h3, .uk-h3 {
	font-weight: 300;
	color: rgba(0,0,0,.44);
	text-align: center;
}
h1, .uk-h1 {
	font-weight: 500;
	text-align: center;
    margin: 50px 0 20px 0;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300';
/* ========================================================================
   Component: Base
 ========================================================================== */
/*
 * 1. Normalizes default `font-family` and sets `font-size` here to support `rem` units
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 * 3. Style
 */
html {
  /* 1 */
  font: normal 18px / 27px 'Open Sans';
  /* 2 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 3 */
  background: #ffffff;
  color: #444444;
  background-image: -webkit-radial-gradient(100% 100%, center, #ffffff, #ffffff);
  background-image: radial-gradient(100% 100% at center, #ffffff, #ffffff);
}
/*
 * Removes default margin.
 */
body {
  margin: 0;
}
/* ========================================================================
   Component: Upload
 ========================================================================== */
/*
 * Create a box-shadow when dragging a file over the upload area
 */
.uk-dragover {
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.3);
}
@font-face {
  font-family: 'helios';
  src: url("../../../fonts/helios.eot");
  src: url("../../../fonts/helios.eot?#iefix") format('embedded-opentype'), url("../../../fonts/helios.woff") format('woff'), url("../../../fonts/helios.ttf") format('truetype'), url("../../../fonts/helios.svg#helios") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="tm-icon-helios-"],
[class*=" tm-icon-helios-"] {
  font-family: 'helios';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  overflow-y: scroll;
}
body {
  position: relative;
  padding-bottom: 0px;
  background: #ffffff;
}
body::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0px;
  background-image: -webkit-linear-gradient(left, #ffffff, #f7f7f7);
  background-image: linear-gradient(to right, #ffffff, #f7f7f7);
  background-color: #fbfbfb;
}